/*Header*/
.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.cabecalho__pesquisar__item {
  display: none;
}
/* superior section */
.superior__secao__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  gap: 15px;
}
/* side section */
.menu__container {
  position: fixed;
  bottom: 0%;
  height: 74px;
  width: 100%;
}
/*Footer*/
.rodape__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

@media (min-width: 834px) {
  /* header */
  .cabecalho__pesquisar__item {
    display: block;
  }
  /* footer */
  .rodape__container {
    justify-content: space-between;
  }
}
